.ChallengeContainer {
  position: fixed;
  left: 170px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  max-height: 80%;
  width: 20rem;
  height: 70%;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  transition: all 1s;
  z-index: 2;
}

.form__challenge__message {
  color: var(--color-error);
  text-align: center;
}
