.body {
  color: #ffffff;
  width: 100%;
}

.body > p {
  white-space: nowrap;
}

.btnRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.btn {
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 3px 5px;
  margin: 0 5px;
}
