.body {
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: rgba(3, 33, 66, 0.65);
  box-shadow: 0 0 80px rgba(25, 25, 167, 0.085);

  position: relative;
}

.body--selected {
  /* border: 1px solid rgba(79, 70, 229, 1); */
  padding: 20px 20px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #5271ff,
    0 0 0.8rem #5271ff, 0 0 2.8rem #5271ff, inset 0 0 1.3rem #5271ff;
}

.body > p {
  white-space: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  /* width: 100%;
  justify-content: center; */
}

.row svg{
  margin-right: 5px;
}

.btnRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.btnRow--short-top {
  margin-top: 5px;
}

.subtext {
  color: #ffffff;
  font-size: 20px;
}

.subtext--highlight {
  color: rgba(236, 72, 153, 1);
  font-weight: bold;
}

.notiRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  background: rgba(255, 255, 255, 1);
  /* background: rgb(53, 52, 52); */
  /* border-radius: 5px; */
  margin: 10px 0 0;
  padding: 5px 15px;
}

.notiRow--short {
  width: fit-content;
  padding: 2px 10px;
  background: rgba(255, 255, 255, 1);
}

.notiText {
  color: rgba(124, 58, 237, 1);
  font-size: 18px;
  font-weight: bold;
}

.notiText img{
  width : 50px;
  height : 50px;
  background-color: rgba(3, 33, 66, 0.85);
  /* background-color: rgb(138, 135, 135); */
}
.notiText--highlight {
  color: rgba(236, 72, 153, 1);
}

.btn {
  /* border: 1px solid #ffffff; */
  @apply bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white py-2 px-4 rounded transition ease-in duration-200 text-center text-base shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2;
  border-radius: 2px;
  padding: 3px 8px;
  margin: 0 5px;
  cursor: pointer;
}

.btn--pink {
  @apply bg-pink-600 hover:bg-pink-700 focus:ring-pink-500 focus:ring-offset-pink-200 text-white py-2 px-4 rounded transition ease-in duration-200 text-center text-base shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2;
  border-radius: 2px;
  padding: 3px 8px;
  margin: 0 5px;
  cursor: pointer;
}

.btn--disabled {
  @apply opacity-90 cursor-not-allowed;
}

.btn--complete {
  @apply bg-gray-500;
}

.btn--graduated {
  @apply bg-gray-500 hover:bg-gray-500 focus:bg-gray-500;
}

.challengeName {
  font-size: 25px;
  /* border-bottom: 2px solid #ffffff; */
  display: flex;
  align-items: center;
}

.challengeName svg {
  margin-right: 5px;
}

.userName {
  font-size: 20px;
}

.daylist {
  margin-top: 6px;
  background-color: transparent;
  font-size: 17px;
}

.day {
  padding: 2px 4px;
  margin: 0 1px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.day--selected {
  border: 1px solid #ffffff;
}

.day--today {
  background-color: #ffffff;
  color: rgba(3, 33, 66, 1);
}

.ToggleBtn {
  position: absolute;
  right: -40px;
  width: 40px;

  box-shadow: 0 0 80px rgba(25, 25, 167, 0.085);
  cursor: pointer;
  color: #000000;
  z-index: 10;
}

@media only screen and (max-width: 900px) {
  .body {
    font-size: 18px;
    padding: 10px 20px;
  }
}
