.findChallenge {
  height: 65vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: auto auto;
  font-family: "gulim";
}
.findChallenge::-webkit-scrollbar {
  width: 10px;
}
.findChallenge::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: whitesmoke;
}
.findChallenge::-webkit-scrollbar-thumb {
  background-color: #a19e9e;
  border-radius: 10px;
}
.findChallenge::-webkit-scrollbar-thumb:hover {
  background: #727171;
}

.challengeItem {
  height: 200px;
  background: rgb(238, 238, 232);
  border: 1.5px solid #1f8b17;
  border-radius: 5px;
  margin-left: 8px;
  margin-bottom: 1vh;
  padding: 15px;
  display: grid;
  color: black;
  font-size: 1.3rem;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}
.challengeItem .challengeName {
  grid-column: 1/-1;
  color: blue;
  font-weight: bold;
  font-size: 1.5rem;
}
.challengeItem .challengeImg {
  grid-row: 2/4;
  object-fit: cover;
  width: 6rem;
  height: 6rem;
  justify-self: center;
}

.challengeItem.expand {
  grid-column: 1/3;
  grid-template-columns: auto auto auto;
  height: auto;
}
.challengeItem.expand .challengeName {
  grid-column: 1/2;
}
.challengeItem .Details {
  grid-row: span 2;
  grid-column: span 2;
}
.challengeItem button {
  margin-top: 10px;
  border: none;
  border-radius: 400px;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem;
  color: rgb(255, 254, 254);
  cursor: pointer;
  background: linear-gradient(to right, #008aff, grey);
}
.challengeItem.expand .challengeImg {
  width: 7rem;
  height: 7rem;
}
