#fish {
  transform-style: preserve-3d;
  height: 500px;
  transform-origin: 50% 50% -400px;
  transition: 1s;
}
/* #seal div:nth-child(1) { */
#fish div {
  width: calc(80vw / 4);
  height: calc(40vw / 3);
  max-width: 500px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate1 800ms steps(4) infinite;
}

@keyframes animate1 {
  from {
    background-position: 0;
  }
  to {
    background-position: -80vw;
  }
}

#fish div:nth-child(1) {
  transform: rotateY(0deg);
}
#fish div:nth-child(2) {
  transform: rotateY(-60deg);
}
#fish div:nth-child(3) {
  transform: rotateY(-120deg);
}
#fish div:nth-child(4) {
  transform: rotateY(-180deg);
}
#fish div:nth-child(5) {
  transform: rotateY(-240deg);
}
#fish div:nth-child(6) {
  transform: rotateY(-300deg);
}
