#fish {
  transform-style: preserve-3d;
  height: 500px;
  transform-origin: 50% 50% -400px;
  transition: 1s;
}

#fish div:nth-child(1) {
  width: calc(80vw / 4);
  height: calc(40vw / 3);
  max-width: 500px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate 800ms steps(4) infinite;
}
#fish div:nth-child(2) {
  width: calc(80vw / 4);
  height: calc(40vw / 3);
  max-width: 500px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate 800ms steps(4) infinite;
}
#fish div:nth-child(3) {
  width: calc(80vw / 4);
  height: calc(40vw / 3);
  max-width: 500px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate 800ms steps(4) infinite;
}
#fish div:nth-child(4) {
  width: calc(80vw / 4);
  height: calc(40vw / 3);
  max-width: 500px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate 800ms steps(4) infinite;
}
#fish div:nth-child(5) {
  width: calc(80vw / 4);
  height: calc(40vw / 3);
  max-width: 500px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate 800ms steps(4) infinite;
}
#fish div:nth-child(6) {
  width: calc(80vw / 4);
  height: calc(40vw / 3);
  max-width: 500px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate 800ms steps(4) infinite;
}
#fish div:nth-child(7) {
  width: calc(80vw / 4);
  height: calc(40vw / 3);
  max-width: 500px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate 800ms steps(4) infinite;
}
#fish div:nth-child(8) {
  width: calc(80vw / 4);
  height: calc(40vw / 3);
  max-width: 500px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate 800ms steps(4) infinite;
}
@keyframes animate {
  from {
    background-position: 0;
  }
  to {
    background-position: -80vw;
  }
}

#fish div:nth-child(1) {
  transform: rotateY(0deg);
}
#fish div:nth-child(2) {
  transform: rotateY(-45deg);
}
#fish div:nth-child(3) {
  transform: rotateY(-90deg);
}
#fish div:nth-child(4) {
  transform: rotateY(-135deg);
}
#fish div:nth-child(5) {
  transform: rotateY(-180deg);
}
#fish div:nth-child(6) {
  transform: rotateY(-225deg);
}
#fish div:nth-child(7) {
  transform: rotateY(-270deg);
}
#fish div:nth-child(8) {
  transform: rotateY(-315deg);
}
