#puffish {
  transform-style: preserve-3d;
  /* height: 50px; */
  transform-origin: 50% 50% -300px;
  transition: 1s;
}
#puffish div {
  width: calc(60vw / 4);
  height: calc(60vw / 4);
  /* height: 100px; */
  max-width: 500px;
  position: absolute;
  left: 35%;
  top: 0%;
  transform-origin: 50% 50% -300px;
  outline: 1px solid transparent;
  background-size: 60vw;
  animation: animate3 800ms steps(4) infinite;
}

@keyframes animate3 {
  from {
    background-position: 0px;
  }
  to {
    background-position: 60vw;
    /* background-position: -60vw; */
  }
}

#puffish div:nth-child(1) {
  transform: rotateY(0deg);
}
#puffish div:nth-child(2) {
  transform: rotateY(-90deg);
}
#puffish div:nth-child(3) {
  transform: rotateY(-180deg);
}
#puffish div:nth-child(4) {
  transform: rotateY(-270deg);
}
