#seal {
  transform-style: preserve-3d;
  transform-origin: 50% 50% -400px;
  transition: 1s;
}
#seal div {
  width: calc(80vw / 3);
  height: calc(60vw / 3);
  max-width: 500px;
  position: absolute;
  left: 20%;
  top: -7vw;
  transform-origin: 50% 50% -400px;
  outline: 1px solid transparent;
  background-size: 80vw;
  animation: animate2 800ms steps(4) infinite;
}

@keyframes animate2 {
  from {
    background-position: 0;
  }
  to {
    background-position: -106vw;
  }
}

#seal div:nth-child(1) {
  transform: rotateY(0deg);
}
#seal div:nth-child(2) {
  transform: rotateY(-90deg);
}
#seal div:nth-child(3) {
  transform: rotateY(-180deg);
}
#seal div:nth-child(4) {
  transform: rotateY(-270deg);
}
