.ChallengeContainer {
  position: fixed;
  left: 250px;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 30rem;
  height: 70%;
  padding: 16px;
  background: rgb(240, 165, 34);
  /* background: lightblue; */
  border-radius: 10px;
  text-align: center;
  transition: all 1s;
  z-index: 2;
}

.form__challenge__message {
  color: var(--color-error);
  text-align: center;
}
