body {
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 18px;
}

.Background {
  position: fixed;
  top: 0;
  left: 0%;
  bottom: 0;
  right: 0;
  /* background-color: rgba(231, 24, 24, 0.5); */
  z-index: 1;
}

.ModalContainer {
  position: fixed;
  left: 150px;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 20rem;
  height: 70%;
  padding: 16px;
  background: skyblue;
  /* background: lightblue; */
  border-radius: 10px;
  text-align: center;
  transition: all 1s;
  z-index: 2;
}

.hidden {
  position: fixed;
  left: -450px;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 20rem;
  height: 70%;
  padding: 16px;
  /* background: rgb(25, 31, 44); */
  /* background: lightblue; */
  border-radius: 10px;
  text-align: center;
  transition: all 1s;
}

.form__challenge__message {
  color: var(--color-error);
  text-align: center;
}
