.Background2 {
  position: fixed;
  /* top: 0%; */
  left: 0%;
  bottom: -10rem;
  right: 0;
  width: 150rem;
  height: 100rem;
  /* height: 100rem; */
  /* background-color: rgba(231, 24, 24, 0.5); */
  /* z-index: 10;     */
}

.ModalContainer2 {
  position: fixed;
  left: 528px;
  top: 40%;
  transform: translate(-50%, -50%);
  max-height: 70%;
  width: 20rem;
  height: 95%;
  padding: 16px;
  /* background: rgb(25, 31, 44); */
  background: rgb(153, 207, 187);
  border-radius: 10px;
  text-align: center;
  /* transition: all 1s; */
  z-index: 1;
}

.hidden2 {
  position: fixed;
  left: -150px;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 20rem;
  height: 80%;
  padding: 16px;
  /* background: rgb(25, 31, 44); */
  background: lightblue;
  border-radius: 10px;
  text-align: center;
  /* transition: all 1s; */
}
