.SearchBox {
  position: absolute;
  margin: auto;
  bottom: 70px;
  /* width: 550px; */
  min-width: 240px;
  max-width: 550px;
  height: 200px;
  background-color: rgba(3, 33, 66, 0.35);
  box-shadow: 0 0 80px rgba(25, 25, 167, 0.085);
  border-radius: 15px;
  z-index: 10;
  transition: height 300ms ease-in, width 300ms ease-out;
  margin: 0 20px;
}

.SearchBox:hover,
.SearchBox:focus {
  background-color: rgba(3, 33, 66, 0.95);
}

.SearchBox.longer {
  background-color: rgba(4, 30, 66, 0.95);
  height: calc(100% - 130px);
  width: 100%;
  max-width: 625px;
}

.header {
  position: relative;
  z-index: 3;
  padding: 80px 30px 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.newChalBtn {
  position: absolute;
  z-index: 4;
  color: #ffffff;
  padding: 10px 15px;
  top: 5px;
  right: 15px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
.newChalBtn:hover {
  color: #18ffff;
}

.backBtn {
  width: 33px;
  position: absolute;
  z-index: 5;
  top: 15px;
  left: 25px;
  cursor: pointer;
}
.backBtn:hover {
  transition: all 200ms;
  transform: scale(1.2);
}

.errMsg {
  display: block;
  position: absolute;
  z-index: 5;
  bottom: -70px;
  left: 0;
  right: 0;
  margin: auto;
  color: red;
  font-size: 20px;
}

.searchForm {
  min-width: 480px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBtn {
  position: absolute;
  width: 33px;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.searchBtn:hover {
  transition: all 200ms;
  transform: scale(1.2);
}

.double {
  position: relative;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  height: 43px;
  font-size: 25px;
}

.double input {
  color: white;
  background: none;
  width: 100%;
  border: 2px solid rgb(179, 174, 174);
  padding-left: 30px;
  padding-right: 50px;
  outline: none;
}

.double input:hover {
  border: 2px solid #adffff;
  border-radius: 3px;
}
.double input:focus {
  border: 2px solid #18ffff;
  border-radius: 3px;
}

.double label {
  position: absolute;
  top: 0px;
  left: 80px;
  margin: auto;
  font-size: 1em;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
/* sibling selector ~ */
.double input:focus ~ label {
  left: 30px;
  top: -40px;
  font-size: 0.8em;
}
.double input:not(:placeholder-shown) {
  border: 3px solid #18ffff;
  border-radius: 3px;
}
.double input:not(:placeholder-shown) ~ label {
  left: 30px;
  top: -40px;
  font-size: 0.8em;
}

.tags {
  display: flex;
  margin-top: 10px;
}
.tag {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}
.tag:hover {
  color: #18ffff;
}
.findChallenge {
  height: calc(100% - 200px);
  overflow-y: auto;
  margin: 0 15px 0 25px;
  border-radius: 5px;
}
.findChallenge::-webkit-scrollbar {
  width: 10px;
}
.findChallenge::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: whitesmoke;
}
.findChallenge::-webkit-scrollbar-thumb {
  background-color: #a19e9e;
  border-radius: 10px;
}
.findChallenge::-webkit-scrollbar-thumb:hover {
  background: #727171;
}

.challengeItem {
  margin-right: 10px;
  background: rgb(238, 238, 232);
  border-radius: 5px;
  margin-left: 8px;
  margin-bottom: 1vh;
  padding: 5px;
  display: grid;
  color: black;
  font-size: 1.1rem;
  text-align: left;
  grid-column: 1/3;
  grid-template-columns: 150px auto auto;
  /* width: 580px; */
  height: auto;
}
.challengeItem .challengeName {
  grid-column: 1/4;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 10px;
}
.challengeItem .challengeImg {
  grid-row: 2/4;
  object-fit: cover;
  justify-self: center;
  width: 8rem;
  height: 8rem;
}
.challengeItem .participant {
  margin-left: 9px;
}

.challengeItem .Details {
  grid-row: 3/5;
  grid-column: 2/4;
  margin: 10px;
  margin-left: 5px;
  padding: 10px 12px;
  font-size: 1rem;
  background: #d0ddec;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.challengeItem .challengeButton {
  justify-self: center;
}

.challengeItem button {
  margin-top: 7px;
  margin-bottom: 3px;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.35rem;
  color: rgb(255, 254, 254);
  cursor: pointer;
  background: #4f46e5;
}

@media only screen and (max-width: 900px) {
  .SearchBox {
    height: 160px;
    bottom: 30px;
    border-radius: 10px;
  }

  .SearchBox.longer {
    height: 85vh;
    width: 100%;
    max-width: 700px;
    transition-duration: 500ms;
  }

  .searchForm {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .double {
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
  }

  .double label {
    position: absolute;
    left: 20px;
    top: -30px;
    margin: auto;
    /* font-size: 0.6em; */
  }
  /* sibling selector ~ */
  .double input:focus ~ label {
    left: 20px;
    top: -30px;
  }
  .double input:not(:placeholder-shown) {
    border: 3px solid #18ffff;
  }
  .double input:not(:placeholder-shown) ~ label {
    left: 20px;
    top: -30px;
  }

  .tags {
    display: none;
  }

  .errMsg {
    bottom: -35px;
    font-size: 18px;
  }
}
