.Background {
  position: fixed;
  top: 0;
  left: 0%;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.AuthRequestModal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: all 1s;
  z-index: 10;
  @apply text-gray-700;
}

.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: gray;
  opacity: 30%;
  z-index: 1;
}

.Comment {
  @apply flex
  px-3
  w-full
  border-2 border-blue-400
  rounded
  text-black
  text-lg
  text-center
  justify-center
  focus:outline-none
  focus:border-blue-600
  resize-none;
}

.Attachments {
  @apply relative
  flex
  justify-center
  items-center
  rounded-lg
  border-dashed border-2 border-blue-700
  bg-gray-200;
}
