.body {
  width: 100%;
  padding: 10px 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title {
  font-size: 25px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.itemTitle {
  composes: item;
  grid-row: 1;
  grid-column: 1/3;
}
.itemRoom {
  composes: item;
  grid-row: 1;
  grid-column: 4/5;
}
.itemUser {
  composes: item;
  grid-row: 1;
  grid-column: 6/7;
} */
