.body {
  width: 150%;
  padding: 10px 0px;
  background-color: rgba(231, 202, 222, 0.877);
  text-align: center;
  position: absolute;

  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .itemTitle {
  composes: item;
  grid-row: 1;
  grid-column: 1/3;
}
.itemRoom {
  composes: item;
  grid-row: 1;
  grid-column: 4/5;
}
.itemUser {
  composes: item;
  grid-row: 1;
  grid-column: 6/7;
} */
