.PostItemBlock {
  padding-top: 0.4rem;
}
.myPostItemBlock {
  padding-top: 0.8rem;
  border: 0.15rem solid rgb(113, 231, 108);
  border-radius: 4px;
}

.PostItemBlock h2 {
  font-size: 1em;
  color: white;
  background-color: #5271ff;
  border-radius: 4px;
  padding: 0.1em;
  margin: 0.4em;
  margin-bottom: 1.3em;
}

.Content {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.Content .images {
  background-size: 48em;
  width: 7em;
  height: 7em;
  background-position: -2px 123px;
}
.Content .images:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}

.Content:first-child {
  padding-top: 0;
}
.SubInfo {
  /* padding-top: 0.5rem; */
  color: whitesmoke;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
}
.SubInfo p {
  line-height: 25px;
  font-weight: 550;
  display:flex;
  flex-direction: row;

  align-items: center;
}

.SubInfo p svg{
  margin-right: 10px;
}

.StyledButton {
  border: none;
  margin: 0.3rem 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.2rem;
  color: white;
  outline: none;
  cursor: pointer;
  border: 0.15rem solid rgb(138, 212, 241);
  border-radius: 8px;
  width: 6.6em;
  height: 3em;
}

.line{
  background-color: #5271ff;
  border-radius: 4px;
  padding: 0.1em;
  margin:0.4em;
  margin-bottom: 0.8em;
}
