.PostItemBlock {
  padding-bottom: 0.8rem;
}
.myPostItemBlock {
  padding-top: 0.4rem;
  padding-bottom: 0.8rem;
  margin-top: 0.4rem;
  background-color: rgba(60, 165, 235, 0.3);
  border: 0.15rem solid rgb(60, 165, 235);
  border-radius: 6px;
}

.PostItemBlock h2 {
  font-size: 1em;
  color: white;
  background-color: #5271ff;
  border-radius: 4px;
  padding: 0.1em;
  margin: 0.4em;
  margin-bottom: 1.3em;
}

.Content {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.Content .images {
  background-size: 48em;
  width: 7em;
  height: 7em;
  background-position: -2px 123px;
  margin-right:35px;
}
.Content .images:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}

.SubInfo {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:150px;
}
.SubInfo p {
  line-height: 25px;
  font-weight: 550;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.SubInfo p svg{
  margin-right: 10px;
}

.StyledButton {
  border: none;
  margin: 1rem 0.1rem;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.28rem;
  color: white;
  outline: none;
  cursor: pointer;
  border: 0.15rem solid skyblue;
  border-radius: 8px;
  /* width: 6.6em; */
  height: 3em;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.StyledButton svg{
  margin-right: 5px;
}

.line{
  text-align: center;
  width:300px;
  background-color: #5271ff;
  border-radius: 4px;
  padding-bottom: 0.1em;
  margin-bottom: 0.8em;
  margin-left: 25px;
}
