.PostItemBlock {
  padding-top: 0.8rem;
}

.PostItemBlock h2 {
  font-size: 1em;
  color: white;
  background-color: #5271ff;
  border-radius: 4px;
  padding: 0.1em;
  margin: 0.4em;
  margin-bottom: 1em;
}

.Content {
  display: flex;
  justify-content: space-around;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.todo_images {
  background-size: 120%,48em;
  width: 7em;
  height: 7em;
  background-position: 0px 123px;
  margin-right: 25px; 
}
.orig_images {
  background-size: 48em;
  width: 7em;
  height: 7em;
  background-position: 0px 123px;
  margin-right: 25px; 
}

.Content .images:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}

.SubInfo {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:150px;
}
.SubInfo p {
  line-height: 25px;
  font-weight: 550;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.SubInfo p svg{
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.StyledButton {
  border: none;
  margin: 1rem 0.1rem;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.28rem;
  color: white;
  outline: none;
  cursor: pointer;
  border: 0.15rem solid skyblue;
  border-radius: 8px;
  /* width: 6.6em; */
  height: 3em;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.StyledButton svg{
  margin-right: 5px;
}


.btn--pink {
  @apply bg-pink-600 hover:bg-pink-700 focus:ring-pink-500 focus:ring-offset-pink-200 text-white rounded transition ease-in duration-200 shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.btn--disabled {
  @apply opacity-70 cursor-not-allowed;
}

.btn--complete {
  @apply bg-gray-500;
}

.btn--graduated {
  @apply bg-gray-500 hover:bg-gray-500 focus:bg-gray-500;
}