.PostItemBlock {
  padding-top: 0.8rem;
}

.PostItemBlock h2 {
  font-size: 1em;
  color: white;
  background-color: #5271ff;
  border-radius: 4px;
  padding: 0.1em;
  margin: 0.4em;
  margin-bottom: 1em;
}

.Content {
  display: flex;
  justify-content: space-around;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.Content .images {
  background-size: 45em;
  width: 7em;
  height: 7em;
  background-position: 0px 126px;
}
.Content .images:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}

.Content:first-child {
  padding-top: 0;
}
.SubInfo {
  padding-top: 0.5rem;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.SubInfo p {
  line-height: 25px;
  font-weight: 550;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.StyledButton {
  border: none;
  margin: 1rem 0.1rem;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.28rem;
  color: white;
  outline: none;
  cursor: pointer;
  border: 0.15rem solid skyblue;
  border-radius: 8px;
  width: 6.6em;
  height: 3em;
}
