.PostListBlock {
  margin: 0.7rem;
  width: 22rem;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.025);
  padding: 0.1rem;
  border-radius: 12px;
  overflow:auto;
  border: 0.05rem solid #fff;
  font-family: inherit;
  font-weight: bold;            
  background-color: rgba(11, 20, 34, 0.08);
}

.PostListBlock::-webkit-scrollbar {
  width: 10px;
}
.PostListBlock::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: whitesmoke;
}
.PostListBlock::-webkit-scrollbar-thumb {
  background-color: #a19e9e;
  border-radius: 10px;
}
.PostListBlock::-webkit-scrollbar-thumb:hover {
  background: #727171;
}

.dropContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index:2;
}
.dropContent option {
  font-size: 15px;
  font-weight: lighter;
  padding: 5px;
  color: black;
  background-color: #f1f1f1;
  cursor: pointer;
  outline: none;
  border:none;
}
.dropContent option:hover {
  background-color: rgb(115, 208, 245);
}
.dropContent option:focus {
  background-color: rgb(115, 208, 245);
}


ul {
  position: inherit;
  padding: 0px 5px;
  display: flex;
  justify-content: space-around;
}

ul span {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  color: grey;
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  padding: 0.4em;
  width: 5em;
}

.selected {
  color: white;
  padding: 0.4em;
  color: #18ffff;
  border: 0.15rem solid #18ffff;
  /* box-shadow: 0 0 0.1rem #fff,  0 0 2rem #5271ff,
  0 0 0.8rem #5271ff, 0 0 2.8rem #5271ff, inset 0 0 1.3rem #5271ff; */
  /* animation: pulsate 0.1s ease-in-out infinite alternate; */
}

/* @keyframes pulsate {
  100% {
    text-shadow: 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #5271ff,
      0 0 80px #5271ff, 0 0 90px #5271ff, 0 0 100px #5271ff, 0 0 150px #5271ff;
  }
  0% {
    text-shadow: 0 0 15px #fff, 0 0 23px #fff, 0 0 42px #5271ff,
      0 0 73px #5271ff, 0 0 80px #5271ff, 0 0 94px #5271ff, 0 0 140px #5271ff;
  }
} */
.challengeName {
  font-size: 27px;
  color:white;
  border:2px solid 18ffff;
  border-radius: 8px;
  margin-bottom: 10px;
}

.toggleBtn {
  position: relative;
  display:flex;
}

