.Background {
  position: fixed;
  top: 0;
  left: 0%;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.SignInContainer {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  width: 30rem;
  height: 70%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  transition: all 1s;
  z-index: 2;
}

.hidden {
  position: fixed;
  left: -450px;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  width: 20rem;
  height: 70%;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  transition: all 1s;
}
